<%= form_with model: @employee do |f| %>
  <div class="form-group">
    <%= f.label :code, 'Código único de empleado' %>
    <%= f.text_field :code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name, 'Nombre' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :surname, 'Apellidos' %>
    <%= f.text_field :surname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :gender, 'Género' %>
    <%= f.select(:gender, [['Mujer', :female], ['Hombre', :male]]) %>
  </div>

  <div class="form-group">
    <%= f.label :email, 'Email' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :pin, 'PIN' %>
    <%= f.password_field :pin, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :pin_confirmation, 'Confirmar PIN' %>
    <%= f.password_field :pin_confirmation, class: 'form-control' %>
  </div>

  <%= f.submit 'Registrar', class: 'btn btn-primary' %>
<% end %>