<div class="mx-auto mt-5">

  <h1> Índice de empleados </h1>

  <div class="d-flex my-3">
    <div>
      <%= button_to 'Registrar Empleado', new_employee_path, method: :get, class: 'btn btn-primary' %>
    </div>

    <div class="ml-auto">
      <%= button_to 'Panel de Administración', admin_dashboard_path, method: :get, class: 'btn btn-secondary' %>
    </div>
  </div>

  <%= render 'shared/employees_list' %>
</div>