<div class="ml-auto">
  <%= link_to 'Volver al Indice de Empleados', employees_path %>
</div>

<div class="mx-auto mt-5">

  <h2> Empleado: <%= @employee.code %></h2>

  <h3> Nombre: <%= "#{@employee.name} #{@employee.surname}"%> </h3>

  <h3> Género: <%= @employee.gender.to_sym == :male ? 'Hombre' : 'Mujer' %> </h3>

  <h3> Email: <%= @employee.email %> </h3>

  <div class="d-flex justify-content-around">
    <%= button_to 'Modificar datos', edit_employee_path, method: :get, class: 'btn btn-warning'%>
    <%= button_to 'Eliminar empleado', employee_path, method: :delete, class: 'btn btn-danger'%>
  </div>
</div>