<div class="mx-auto mt-5">
  <h2> Acceso administración del sistema </h2>

  <%= form_tag admin_login_path do |f| %>
    <div class="form-group">
      <%= label_tag :password, 'Contraseña:' %>
      <%= password_field_tag :password, '', class: 'form-control' %>
    </div>

    <%= submit_tag 'Entrar', class: 'btn btn-primary' %>
  <% end %>
</div>