

<div class="mx-auto mt-5">
  <h2> Reporte de asistencia </h2>
</div>

<div class="ml-auto">
  <%= link_to 'Volver', employees_dashboard_path %>
</div>

<div class="mx-auto mt-5">

  <%= form_tag employees_report_path, class: 'form-inline d-flex justify-content-center mb-2' do |f| %>
    <div class="form-group mr-5">
      <label class="mr-2"> Mes: </label>
      <%= select_month(@base_date) %>
    </div>

    <div class="form-group mr-5">
      <label class="mr-2"> Año: </label>
      <%= select_year(@base_date, :start_year => Date.today.year - 10, :end_year => Date.today.year) %>
    </div>

    <%= submit_tag 'Buscar Reporte', class: 'btn btn-primary btn-small' %>
  <% end %>

  <h5> NOTA: No se tiene en cuenta la sesión actual de trabajo que aún no se ha cerrado </h5>

  <h4> Total de horas trabajadas: <%= @total_hours.round(2) %>  </h4>

  <table class="table">
    <thead>
      <tr>
        <th scope="col"> Entrada </th>
        <th scope="col"> Salida </th>
        <th scope="col"> Horas </th>
      </tr>
    </thead>

    <tbody>

    <% @check_outs.each_with_index do | check_out, i | %>

      <tr>
        <th> <%= @check_ins[i].created_at.localtime.to_s(:db) %> </th>
        <th> <%= check_out.created_at.localtime.to_s(:db) %> </th>
        <th> <%= @hours[i].round(2) %> </th>
      </tr>

    <% end %>

    </tbody>
  </table>
</div>