<div class="ml-auto">
  <%= link_to 'Salir', employees_logout_path %>
</div>

<div class="mx-auto mt-5">
  <%= form_with url: checks_path, method: :post do |f| %>
    <% if @checked_out %>
      <%= f.submit 'Registrar Entrada', class: 'btn btn-success' %>
    <% else %>
      <%= f.submit 'Registrar Salida', class: 'btn btn-danger' %>
    <% end %>
  <% end %>

  <h6 class="mt-5"> <%= link_to 'Reporte de Asistencia', employees_report_path %> </h6>
</div>