<div class="mx-auto mt-5">
  <h1> Panel de Administración </h1>
</div>

<div class="ml-auto">
  <%= link_to 'Salir', admin_logout_path %>
</div>

<div class="mx-auto mt-5">
  <%= link_to 'Índice de empleados', employees_path %>

  <hr>

  <a href=""> Reporte de Asistencia (NO IMPLEMENTADO) </a>
</div>