
<%= simple_form_for :search, url: employees_path, method: :get, html: { class: 'form-inline' } do |f| %>
  <%= f.input :name, input_html: {value: '', class: 'form-control mr-2', placeholder: 'Nombre'},
              label: false, required: false %>
  <%= f.input :surname, input_html: {value: '', class: 'form-control mr-2', placeholder: 'Apellidos'},
              label: false, required: false %>
  <%= f.input :email, input_html: {value: '', class: 'form-control mr-2', placeholder: 'Email'},
              label: false, required: false %>

  <%= f.submit 'Buscar', class: 'btn btn-primary' %>
<% end %>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Codigo Empleado</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellidos</th>
    <th scope="col">Email</th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <th scope="row"> <%= employee.code %> </th>
      <td> <%= employee.name %> </td>
      <td> <%= employee.surname %> </td>
      <td> <%= employee.email %> </td>
      <td>
        <div class="d-flex">
          <%= button_to 'Ver', employee_path(employee), method: :get, class: 'btn btn-success mr-1' %>
          <%= button_to 'Editar', edit_employee_path(employee), method: :get, class: 'btn btn-warning mr-1' %>
          <%= button_to 'Eliminar', employee_path(employee), method: :delete, class: 'btn btn-danger' %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
