<div class="ml-auto">
  <h4><%= link_to 'Administrar', admin_login_path %></h4>
</div>

<div class="mx-auto mt-5">
  <%= form_tag employees_login_path do |f| %>
    <div class="form-group">
      <%= label_tag :code, 'Código único de empleado:' %>
      <%= text_field_tag :code, '', class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= label_tag :pin, 'PIN:' %>
      <%= password_field_tag :pin, '', class: 'form-control' %>
    </div>

    <%= submit_tag 'Entrar', class: 'btn btn-primary' %>
  <% end %>
</div>